# Игнорировать установленные npm пакеты
node_modules
dist
__tests__

# Игнорировать конфигурацию сайта
config/config.json

# Поместите сюда любые другие файлы, которые вы не
# хотите вносить, такие как .DC_Store (OSX), *.bak, etc.
*~
.DS_Store
.env

# temporary dirs
tmp
uploads