<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav" role="menu">
    <li class="nav-item">
      <a class="nav-link" href="/favorites">Избранное</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/quotes">Рынок</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Портфель</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Аналитика</a>
    </li>
  </ul>
  <ul class="navbar-nav position-absolute" style="right:0;padding-right:1rem;">
    <% if(user) { %>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Выход</a>
    </li>
    <% } else { %>
    <li class="nav-item">
      <a class="nav-link" href="/signin">Вход</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/signup">Регистрация</a>
    </li>
    <% } %>
  </ul>
</nav>