body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table tr td{
  text-align: left;
}
table tr td:first-child{
  text-align: left;
}

/* Custom global styles */
.perfect-centering {
     position: absolute;
     top: 50%;
     left:50%;
     transform: translate(-50%,-50%);
   }

/* Quotes table + filter inputbox*/

.filterInputTable {
    background-image: url('/img/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 10px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    /*width: 100%; /* Full-width */
    height: calc(1.5em + .75rem + 2px);
    /*padding: .375rem .75rem;
    /*font-size: 16px; /* Increase font-size */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 12px 20px 12px 40px; /* Add some padding */
    background-clip: padding-box;
    border: 1px solid #ddd; /* Add a grey border */
    border-radius: .25rem;
    margin-bottom: 12px; /* Add some space below the input */
    margin-top: 12px;
}

.filterTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
}

.filterTable th, .filterTable td {
    padding: 12px; /* Add padding */
}

.filterTable th {
    background-color: #f1f1f1; /* Add a grey background color to the table header */
}

.filterTable tr:hover {
    background-color: #f1f1f1;
}

.filterTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

.filterTable thead tr, ,filterTable thead tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

.info-security-box {
  width: 100%;
}

ul.security-diggest {

}

ul.security-diggest li {
  display: inline-block;
  padding: 12px;
}

ul.security-diggest li.last {
  font-size: 16px;
}
