
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.br-light .nav-item.active {
  background: red;
}

table {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
}

table tr td{
  text-align: left;
}
table tr td:first-child{
  text-align: left;
}

table tr th:last-child, table tr td:last-child {
  text-align: right;
}

table th, table td {
  padding: 0.5rem;
}

table th {
  background-color: #f1f1f1;
}

table tr:hover {
  background-color: #f1f1f1;
}

table tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

/* Custom global styles */
.perfect-centering {
     position: absolute;
     top: 50%;
     left:50%;
     transform: translate(-50%,-50%);
   }

/* Quotes table + filter inputbox*/

.filterInputTable {
    background-image: url('/img/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 10px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    /*width: 100%; /* Full-width */
    height: calc(1.5em + .75rem + 2px);
    /*padding: .375rem .75rem;
    /*font-size: 16px; /* Increase font-size */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 12px 20px 12px 40px; /* Add some padding */
    background-clip: padding-box;
    border: 1px solid #ddd; /* Add a grey border */
    border-radius: .25rem;
    margin-bottom: 12px; /* Add some space below the input */
    margin-top: 12px;
}

.info-security-header {
  min-height: 2rem;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.info-security-box {
  width: 100%;
}

ul.security-diggest {

}

ul.security-diggest li {
  display: inline-block;
  padding: 12px;
}

ul.security-diggest li.last {
  font-size: 16px;
}

.pointer:hover {
  cursor: pointer;
}

/* Toolbars */
#toolbar {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.toolbar {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.wrap {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/*   Star checkbox  */
input.star {
  display: none;
}

label.star:before {
  background-image: url("/img/icon_star.png") no-repeat;
  height: 25px;
  width: 25px;
  background-size: 10%;
}

input[type="checkbox"][name="favorite"] {
  position: absolute;
  clip: rect(0,0,0,0);
  clip: rect(0 0 0 0);
}

input[type="checkbox"][name="favorite"] + label::before {
  content: url("/img/icon_star_32.png");
  font-size: 1rem;
  background-image: url("") no-repeat;
  background-size: cover;
}

input[type="checkbox"][name="favorite"]:checked + label::before {
  content: url("/img/icon_star_solid_32.png");
  font-size: 1rem;
  width: 25px;
  height: 25px;
  background-image: url("") no-repeat;
  background-size: cover;
}

/* Portfolio */
.datatable {
  width: 100%;
}

.section-title {
  font-size: 1.5rem;
}

.big-num {
  font-size: 1.8rem;
  font-weight: 700;
}

/****** custom styles for currency and percent *****/
.rub:after {
  content: ' <i class="fa fa-ruble-sing"></i>';
}

.percent:after {
  content: ' %';
}

.usd:after {
  content: ' $';
}

.red {
  color: red;
}

.green {
  color: green;
}

.select2-container .select2-selection--single{
    height: calc(1.5em + .75rem + 2px) !important;
}
.select2-container--default .select2-selection--single{
  border: 1px solid #ccc !important; 
  border-radius: 4px !important; 
  padding-top: 5.28px;
}



