<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav" role="menu">
    <li class="nav-item">
      <a class="nav-link" href="/portfolios">Назад</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/portfolio/<%= data.portfolio.id %>">Активы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/portfolio/<%= data.portfolio.id %>/trades">Сделки</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Доходность</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Аналитика</a>
    </li>
  </ul>
  <ul class="navbar-nav position-absolute" style="right:0;padding-right:1rem;">
    <li class="nav-item">
      <a class="nav-link" href="/logout">Выход</a>
    </li>
  </ul>
</nav>